body {
  font-family: "Cal Sans", sans-serif;
  text-align: center;
  background: linear-gradient(to right, navy, blue);
  margin: 0;
  height: 100vh;
}

.quiz-container {
  margin: 50px auto;
  padding: 28px;
  background: linear-gradient(to right, gold, yellow);
  width: 80%;
  max-width: 400px;
  border-radius: 60px;
  box-shadow: 7px -7px 2px navy, -7px 7px 2px blue;
  border: black solid;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background: white;
  box-shadow: 0 0 10px #aaa;
  border-radius: 15px;
  border: blue solid;
  border-width: 1.5px;
}

.answer {
  display: block;
  margin: 10px;
  padding: 10px;
  background: yellow;
  cursor: pointer;
  border-radius: 20px;
  border: blue solid;
  border-width: 1.2px;
}

button {
  font-weight: 500;
}

#question {
  color: white;
  text-shadow: 4px 3px 25px #3b3800;
  background-color: #031e94;
  border-radius: 15px;
  padding: 5px;
  font-size: 30px;
}

#score {
  font-weight: bold;
}

.bottom {
  color: white;
}

a:link {
  color: tomato;
  font-size: 12px;
  display: block;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

#ctext {
  display: block;
  text-align: left;
  margin-left: 30px;
}

#contact {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 150px;
  background-color: lightblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

#contact a {
  display: block;
  color: blue;
  text-decoration: none;
  margin-bottom: 10px;
}

#contact a:hover {
  text-decoration: underline;
}

.quiz-image {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 15px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#question {
  opacity: 1;
}

#web {
  position: static;
  color: white;
  background-color: tomato;
  padding: 5px;
  display: block;
  text-align: left;
  
}